extends ../pug/index
block vars
	-
		var title = 'About'
		stylesheets.unshift('general')

block content
	h1 About Nautilus.iO
	p Nautilus.iO&trade; is a web development framework which takes all the elements of existing web development frameworks such as Bootstrap and foundation, but it cuts out the whole unnecessary learning curve.
	h2 How, you may ask?
	p Well, instead of taking a declarative programming approach, such as Bootstrap and Foundation, making you have to remember thousands of different tags, Nautilus.iO delivers all the functionality of Bootstrap and Foundation under the imperitive programming paradigm.
	video(controls preload='metadata')
		source(src='video.mp4' type='video/mp4')
		p Browser old, please #[b do the needful]
