extends ../pug/index
block vars
	-
		var title = "Contribute"
		stylesheets.unshift('general')

block content
	h1 How to Contribute
	p Nautilus.iO&trade; is run by open source developers, and to continue running we NEED YOU!
	p If you are an opensource developer skilled in HTML, XML, Perl, C++ or Java, please #[a(href="https://github.com/Balajanovski/Nautilus.io") click here] to join.
	p To get started with github, look for an issue, preferably one with the #[b.easy Easy] tag.
	p if you are not familiar with the code base, create a fork and get bug fixing. Once you have finished, submit a pull request, and, if your request passes all the tests and gets approved, you are officially a contributer!~
	img(src="img/github.jpg").image#github
