@keyframes sway {
  from {
    transform: rotate(6deg) translate(-10px, 0%);
  }
  to {
    transform: rotate(-6deg) translate(10px, 0%);
  }
}

:root, body {
  overflow-x: hidden;
}

body {
  background-color: lightblue;
  margin: 0;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#content {
  z-index: 1;
  width: 70%;
  text-align: center;
  margin-top: -0.6em;
  margin-left: 14%;
  color: white;
  padding: 1px 1px 1px 1px;
  box-shadow:
}

#content h1 {
  font-size: 2.3em;
  text-shadow: 1px 1px black;
}

#content p {
  font-size: 1.2em;
}

#wrapper {
  width: 100%;
  background-color: #2d55aa;
  flex: 1 1 auto;
}

#seabed {
  background-color: #ffcc66;
  height: 80px;
  min-height: 80px;
  z-index: 9999;
  display: flex;
  box-shadow: 0 -7px 1rem #ffcc66;
  position: relative;
  bottom: 0;
}

#copyright {
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  margin-top: 10px;
}

#life-container {
  margin-top: 0;
  position: absolute;
  top: 25px;
  width: 100%;
  height: auto;
}

.easy {
  color: lime;
}

.image {
  animation: 7s linear 0s infinite alternate sway;
}

#github {
  clip: rect(600000px,60px,200px,0px);
}
