@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

:root, body {
  overflow-x: hidden; /* Prevents x-scrolling revealing fish animation */
  box-sizing: border-box;
}

:root * {
  box-sizing: inherit;
}

body {
  background-color: lightblue;
  margin: 0;
  padding: 9em 0 0 0;
  display: flex;
  flex-flow: column nowrap;
}

@keyframes sway_title {
  from {
    transform: rotate(6deg) translate(-10px, 0%);
  }
  to {
    transform: rotate(-6deg) translate(10px, 0%);
  }
}
@keyframes sway_subtitle {
  from {
    transform: rotate(6deg) translate(-14.5px, 0%);
  }
  to {
    transform: rotate(-6deg) translate(14.5px, 0%);
  }
}
@keyframes sway_description {
  from {
    transform: rotate(6deg) translate(-17px, 0%);
  }
  to {
    transform: rotate(-6deg) translate(17px, 0%);
  }
}
@keyframes sway_nav {
  from {
    transform: rotate(6deg) translate(-20px, 0%);
  }
  to {
    transform: rotate(-6deg) translate(20px, 0%);
  }
}

#wrapper {
  background-color: #2d55aa;
}


.content {
  font-family: 'Quicksand',sans-serif;
  text-align: center;
  background-color: #2d55aa;
  text-align: center;
  min-height: 75vh;
  margin: -.1em 0 0 0;
  padding: 1em;
  color: #eee;
  font-size: 2em;
  font-weight: 300;
  text-shadow: 1px 1px 1px black;
}

.content {
  font-size: 1em;
}

.content h1 {
  animation: 7s linear 0s infinite alternate sway_title;
  margin-top: 5%;
  font-weight: 100;
  font-size: 5em;
  user-select: none;
  cursor: default;
  z-index: 9999;
  position: relative;
}

.content p {
  font-size: 1.5em;
  animation: 7s linear 0s infinite alternate sway_subtitle;
  z-index: 9999;
  position: relative;
}

nav {
  margin-top: 1em;
  font-size: 16px;
  animation: 7s linear 0s infinite alternate sway_nav;
  text-align: center;
  position: relative;
  z-index: 9999;
  opacity: 1.0;
}

nav a {
  color: white;
}

nav a:visited {
  color: white;
}
nav a~*{
  margin-left: 30px;
}


#seabed {
  background-color: #ffcc66;
  height: 80px;
  min-height: 80px;
  z-index: 9999;
  display: flex;
  box-shadow: 0 -7px 1rem #ffcc66;
  position: relative;
}

#copyright {
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  margin-top: 10px;
}

#waves {
  flex: 1 1 auto;
}

#description {
  font-size: 16px;
  width: 50%;
  margin-left: 26%;
  margin-top: -15px;
  animation: 7s linear 0s infinite alternate sway_description;
}

#slogan {
  margin-top: -40px;
}
